.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}


.side-header{
  height:100px;
  padding: 0 20px;
}

.room{
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
}

.chat{
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.main-header{
  height: 100px;
  padding: 0 40px;
}

.messages{
  padding: 46px 40px 0;
  height: calc(100vh - 190px);
  background-color: #fafafa;
}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}